---
import Layout from '../../layouts/Layout.astro'
import Hero from '../../components/Hero.astro'
import Build from '../../components/Build.astro'
import Experience from '../../components/Experience.astro'
import Logos from '../../components/Logos.astro'
import SectionContainer from '../../components/SectionContainer.astro'
import Projects from '../../components/Projects.astro'
import PersonalInfo from '../../components/PersonalInfo.astro'

import es from '../../i18n/en.json'
---

<Layout 
	title="Portfolio Rodolfo Fuentealba Dise침o UX UI Frontend +9 a침os de experiencia"
	description="Contrata a rodfuentealba para darle vida a tus dise침os tanto web como m칩viles o si necesitas generar contenido para RRSS."
>
		<main class="px-6">
		<SectionContainer class="flex flex-col text-center items-center py-35 md:py-23 md:px-20">
			<Hero t={es.hero}/>
		</Section>

		<SectionContainer id="sobre-mi" class="md:pb-30">
			<PersonalInfo t={es.about} a={es.achievements}/>
		</SectionContainer>

		
		<SectionContainer id="experiencia" class="pb-10 md:pb-20">
			<Experience t={es.experience}/>
		</SectionContainer>
		
		<SectionContainer id="sobre-mi" class="md:pb-20">
			<Logos />
		</SectionContainer>

		<SectionContainer id="proyectos" class="pb-10">
			<Projects t={es.projects}/>
		</SectionContainer>

		<SectionContainer id="postdata" class="pb-10 pt-20"> 
			<Build t={es.build}/>
		</SectionContainer>
	</main>
</Layout>
