---
import Figma from "./icons/Figma.astro";
import React from "./icons/React.astro";
import Ant from "./icons/Ant.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import Vue from "./icons/Vue.astro";
import LinkButton from "./LinkButton.astro";
import Link from "./icons/Link.astro";
import CodeIcon from '../components/icons/Code.astro'

const { t } = Astro.props;


const TAGS = {
    FIGMA: {
        name: "Figma",
        class: "bg-pink-100 text-pink-500 dark:bg-pink-900 dark:text-pink-300",
        icon: Figma,
    },
    REACT: {
        name: "React",
        class: "bg-cyan-100 text-cyan-600 dark:bg-cyan-900 dark:text-cyan-300",
        icon: React,
    },
    ANT: {
        name: "AntDesign",
        class: "bg-blue-100 text-blue-400 dark:bg-blue-900 dark:text-blue-300",
        icon: Ant,
    },
    BOOTSTRAP: {
        name: "Bootstrap",
        class: "bg-purple-100 text-purple-500 dark:bg-purple-300 dark:text-purple-800",
        icon: Bootstrap,
    },
    VUE: {
        name: "Vue",
        class: "bg-green-100 text-green-800 dark:bg-green-300 dark:text-green-700",
        icon: Vue,
    },
};
const PROJECTS = [
    {
        title: t.project1.title,
        description: t.project1.description,
        link: "https://apps.apple.com/cl/app/wallet-icar/id6466432932",
        image: "/projects/projectsWalletMobile.webp",
        tags: [TAGS.FIGMA, TAGS.REACT],
    },
    {
        title: t.project2.title,
        description: t.project2.description,
        link: "https://www.notarisa.cl/",
        image: "/projects/projectsNotarisa.webp",
        tags: [TAGS.FIGMA, TAGS.REACT, TAGS.ANT],
    },
    {
        title: t.project3.title,
        description: t.project3.description,
        link: "https://acepta.com/certificado-digital/",
        image: "/projects/projectsAutoriza.webp",
        tags: [TAGS.FIGMA, TAGS.BOOTSTRAP , TAGS.REACT],
    },
    {
        title: t.project4.title,
        description: t.project4.description,
        link: "https://www.youtube.com/watch?v=GqQ42uY5E1o",
        image: "/projects/projectsRiivi.webp",
        tags: [TAGS.FIGMA, TAGS.VUE , TAGS.BOOTSTRAP],
    },
];
---

<h2 class="text-2xl font-semibold mb-10 flex gap-x-2 items-center">
    <CodeIcon class="size-6"/>
    {t.title}
</h2>

<div class="flex flex-col md:grid md:grid-cols-2 gap-8">
    {
        PROJECTS.map(({ image, title, description, tags, link }) => (
            <article class="flex flex-col group">
                <div class="w-full">
                    <div class="relative flex flex-col items-center col-span-6 row-span-5 transition duration-500 ease-in-out transform hover:shadow-xl overflow-clip rounded-xl md:group-hover:-translate-y-1 lg:hover:bg-gray-800/50">
                        <img
                            alt="Proyectos donde eh participado como Rodfuentealba - Diseñador UX/UI"
                            class="object-cover object-top w-full h-full transition duration-500 md:group-hover:scale-110"
                            loading="lazy"
                            src={image}
                        />
                    </div>
                </div>

                <div class="w-full">
                    <h3 class="mt-6 text-2xl font-bold text-gray-800 dark:text-gray-100">
                        {title}
                    </h3>
                    <div class="flex flex-wrap mt-2">
                        <ul class="flex flex-row mb-2 gap-x-2">
                            {tags.map((tag) => (
                                <li>
                                    <span
                                        class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 hover:scale-105`}
                                    >
                                        <tag.icon class="size-4" />
                                        {tag.name}
                                    </span>
                                </li>
                            ))}
                        </ul>

                        <div class="mt-2 text-gray-700 dark:text-gray-400">
                            {description}
                        </div>
                        <footer class="flex items-end justify-start mt-4 gap-x-4">
                            {link && (
                                <LinkButton href={link}>
                                {/* <LinkButton href={`/projects/${slug}`}></LinkButton> */}
                                    <Link class="size-4" />
                                    {t.more}
                                </LinkButton>
                            )}
                        </footer>
                    </div>
                </div>
            </article>
        ))
    }
</div>
